@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fredoka:wght@300..700&family=Manrope:wght@200..800&family=Monomakh&family=Playwrite+NO:wght@100..400&family=Quicksand:wght@300..700&display=swap');


@import "tailwindcss";


html {
  scroll-behavior: smooth;
  scroll-margin-top: -70px;
}


* { scrollbar-width: thin; scrollbar-color: #000000 transparent; }
.dark * { scrollbar-color: #374151 #0f1117; }

/* @font-face {
  font-family: 'Quicksand';
  src: url('../public/font/Quicksand-VariableFont_wght.ttf');
  font-weight: 500;
  font-display: swap;
} */


body {
  font-family: var(--font-quicksand), sans-serif;
}


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  /* ... keep the rest ... */
  --sidebar-ring: oklch(0.556 0 0);
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

